<div style=" padding-left:5%; padding-right:5%; padding-bottom:5%">
  <h5 class="display-4">
    Autonomous Building
  </h5>
  <div style="display:flex;">
    <div style="padding-top:5%; padding-right:5%; width:25%">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Updates</h5>
          <br>
          <p class="text-muted card-text">No updates pending</p>
        </div>
      </div>
    </div>
    <ngb-tabset [justify]="currentJustify" style="padding-top:5%; width:70%">
      <ngb-tab id="4">
        <ng-template ngbTabTitle><span class="tab-title">Account</span></ng-template>
        <ng-template ngbTabContent>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div id="v">
            <h4 class="text-muted">Account</h4><button class="btn btn-primary btn-sm float-right" style="display: block; margin: 0 auto;" id="buttons" (click)="account()">Edit Account Details</button>
          </div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>
            <h6>Name:</h6> {{person.name}}
            <div>&nbsp;</div>
            <h6>Email:</h6> {{person.email}}
            <div>&nbsp;</div>
            <h6>Password:</h6> {{repeatedString}}
            <div>&nbsp;</div>
            <h6>Contact Number:</h6> {{person.number}}
            <div>&nbsp;</div>
            <h6>Key assigned:</h6>
            <ul style="list-style: none; padding-left: 0;" *ngFor="let i of key">
              <li>
                {{i.keyID}}
              </li>
            </ul>
            <h6>Locks assigned:</h6>
            <ul style="list-style: none; padding-left: 0;" *ngFor="let i of locks">
              <li>
                {{i.name}}
              </li>
            </ul>
            <h6>Schedules assigned:</h6>
            <ul style="list-style: none; padding-left: 0;" *ngFor="let i of sch">
              <li>
                {{i.days}} {{i.times}}
              </li>
            </ul>
            <div>&nbsp;</div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
<footer class="text-center">
  <button class="bigArrow" (click)="function()">
    ^
  </button>
  <div>&nbsp;</div>
</footer>
