<app-top-nav></app-top-nav>
<body class="" id="example1" style="padding-top: 5%; padding-left: 5%; padding-right: 5%; padding-bottom:5%">
  <h5 class="display-4" id="example2" *ngIf="nav.visible">
    Autonomous Building
  </h5>
  <div>
    &nbsp;
  </div>
  <div class="row">
    <div class="col-md-3" *ngIf="nav.visible">
      <ng-container *ngIf="!mode.tang">
        <div style="padding-top:15%">
          <div class="card" id="example3" *ngIf="str.currentUser.clear">
            <div class="card-header card-title">Recent Events <button class="float-right blank text-primary" (click)="clear()">Clear</button></div>
            <div class="card-body scroll">
              <ul style="list-style: none; padding-left: 0;" *ngFor="let i of shortlog">
                <li>
                  {{i.lockName}} - {{i.time}} - {{i.name}}
                </li>
              </ul>
            </div>
          </div>
          <div class="card" id="example3" *ngIf="!str.currentUser.clear">
            <div class="card-header card-title">Recent <button class="float-right blank text-primary" (click)="clears()">Clear</button></div>
            <div class="card-body scroll">
              <ul style="list-style: none; padding-left: 0;" *ngFor="let i of logs">
                <li>
                  {{i}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-9">
      <div *ngIf="nav.visible">
        <!--for mobile view-->
        <ul class="nav nav-tabs nav-tabs-sm nav-fill" style="padding-top:5%; width:100%;" *ngIf="mode.tang">
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example6" routerLink="/Schedules" routerLinkActive="active">Schedules</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example7" routerLink="/Locks" routerLinkActive="active">Locks</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example8" routerLink="/Keys" routerLinkActive="active">Keys</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example9" routerLink="/People" routerLinkActive="active">People</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example11" routerLink="/Logs" routerLinkActive="active">Logs</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example12" routerLink="/Account" routerLinkActive="active">Account</a>
          </li>
        </ul>
        <!--for desktop view-->
        <ul class="nav nav-tabs" style="padding-top:5%; width:100%;" *ngIf="!mode.tang">
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example6" routerLink="/Schedules" routerLinkActive="active">Schedules</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example7" routerLink="/Locks" routerLinkActive="active">Locks</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example8" routerLink="/Keys" routerLinkActive="active">Keys</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example9" routerLink="/People" routerLinkActive="active">People</a>
          </li>
          <li class="nav-item" *ngIf="str.currentUser.clear">
            <a class="nav-link" id="example11" routerLink="/Logs" routerLinkActive="active">Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="example12" routerLink="/Account" routerLinkActive="active">Account</a>
          </li>
        </ul>
      </div>      
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
<footer class="text-center" hidden>
  <button class="bigArrow" (click)="function()">
    ^
  </button>
  <div>&nbsp;</div>
</footer>
