<nav *ngIf="nav.visible" id="example" class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" *ngIf="!mode.tang">Autonomous Building</a>
  <div class="ml-auto">
    <form class="form-inline">
      <label class="switch" hidden>
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <a class="nav-link" routerLink="/Account">Hello, {{currentUser.name}}</a>
      <button class="btn btn-sm" style="background-color:lightgrey" (click)="logout()">Log-out</button>
    </form>
  </div>
</nav>

