<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit Lock - {{serverData?.name}}</h4>
    <button class="close blank" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="id">Name</label>
    <input #name class="form-control form-control-sm" id="id" placeholder="{{serverData?.name}}">
    <div>
      <p class="text-danger" id="demo"></p>
      &nbsp;
    </div>
    <label for="type">Type</label>
    <input #type class="form-control form-control-sm shadow-none" id="type" placeholder="Enter Type">
    <div>
      <p class="text-danger" id="one"></p>
      &nbsp;
    </div>
    <label for="ip">IP Address</label>
    <input #ip class="form-control form-control-sm shadow-none" id="ip" placeholder="Enter IP">
    <div>
      <p class="text-danger" id="two"></p>
      &nbsp;
    </div>
    <label for="output">Output</label>
    <input #output class="form-control form-control-sm shadow-none" id="output" placeholder="Enter Port Number">
    <div>
      <p class="text-danger" id="three"></p>
      &nbsp;
    </div>
    <label for="delay">Delay (seconds)</label>
    <input #delay class="form-control form-control-sm shadow-none" id="delay" placeholder="Enter Delay">
    <div>
      <p class="text-danger" id="four"></p>
      &nbsp;
    </div>
    <button class="btn btn-primary btn-sm float-right" (click)="Add(name.value, type.value, ip.value, output.value, delay.value)">Submit</button>
  </div>
</div>
